* {
    border-radius: 5px;
}

body.thumb {
    transform: scale(0.4);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

main {
    min-height: 80vh;
}

[class*='container'] {
    
    background-clip: content-box;
}

.row [class*='col'] {
    background-color: #f6f9ff;
    background-clip: content-box;
}

.nav-item {
    background-color:  #eef;
    background-clip: content-box;
}
.modal-body form input{
    text-align: center;
}
.modal-body form select{
    text-align: center;
}
.top-selling {
  font-size: 14px;
}


.table thead th {
  border: 1;
}

.table tbody td {
  vertical-align: middle;
}

 img {
  border-radius: 5px;
  max-width: 60px;
}
.info-card {
  padding-bottom: 10px;
}

.info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}
.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.filter .icon:hover,
.filter .icon:focus {
  color: #4154f1;
}

.filter .dropdown-header {
  padding: 8px 15px;
}

.filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.info-card {
  padding-bottom: 10px;
}

.info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}
.customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
    box-sizing:border-box;
}

body {
    padding:$base-spacing-unit;
    font-family:'Source Sans Pro', sans-serif;
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

.container {
    max-width: 1000px;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.table {
    width:100%;
    border:1px solid $color-form-highlight;
}

.table-header {
    display:flex;
    width:100%;
    background:#000;
    padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
    display:flex;
    width:100%;
    padding:($half-spacing-unit * 1.5) 0;
    
    &:nth-of-type(odd) {
        background:$color-form-highlight;
    }
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
}

.header__item {
    text-transform:uppercase;
}

.filter__link {
    color:white;
    text-decoration: none;
    position:relative;
    display:inline-block;
    padding-left:$base-spacing-unit;
    padding-right:$base-spacing-unit;
    
    &::after {
        content:'';
        position:absolute;
        right:-($half-spacing-unit * 1.5);
        color:white;
        font-size:$half-spacing-unit;
        top: 50%;
        transform: translateY(-50%);
    }
    
    &.desc::after {
        content: '(desc)';
    }

    &.asc::after {
        content: '(asc)';
    }
    
}
